{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        },
        {
            "files": "README.md",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
